extends ../layouts/default
block variables
  - var title = "Home"
block content
  include ../components/common/header/header
  +h1("Home page")
  div.well#name
  div.component-container
    include ../components/helloworld/helloworld

  div.component-container.component-a
    div.background-container.background-primary-color
      div.text-center.secondary-color WITH BACKGROUND

  div.sprite-run
append content-script
  script.
    SystemJS.import('header.js');
