extends ../layouts/default
block variables
  - var title = "About"
block content
  include ../components/header
  +h1("About page")
  div.component-container
    div.well#about
  include ../components/footer
append content-script
  script.
    SystemJS.import('header.js');
    SystemJS.import('footer.js');

