@mixin primaryColor($type:false) {
  @if($type == false) {
    color: $primary-color;
  }
  @else if($type == 'icon') {
    stroke: $primary-color;
    fill: $primary-color;
  }
  @else if($type == 'bg') {
    background-color: $primary-color
  }
}

@mixin secondaryColor($type:false) {
  @if($type == false) {
    color: $secondary-color;
  }
  @else if($type == 'icon') {
    stroke: $secondary-color;
    fill: $secondary-color;
  }
  @else if($type == 'bg') {
    background-color: $secondary-color
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};

      @if $i < $max {
          $animations: #{$animations + ", "};
      }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
