block variables
doctype html
html
  head
    title= title
    link(href="./clientlib-site/css/all.css", type="text/css", rel="stylesheet")
  body
    include ../mixins/atoms
    block content
    script.
      var baseUrl = '/js';
    script(src="/clientlib-site/js/vendors/system-polyfills.js" type="text/javascript")
    script(src="/js/vendors/system.js", type="text/javascript")
    script(src="/js/main.js", type="text/javascript")
    block content-script
