// country molecule start here
div.btn-group
  button.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Country
    span.caret
  ul.dropdown-menu
    li
      a(href='#') Singapore
    li
      a(href='#') Myanmar
    li
      a(href='#') Hong Kong
// country molecule end here
