div.btn-group(role='group', aria-label='...', style='margin-bottom:10px;')
  button.btn.btn-default.btn-success(type='button')
    span.fa.fa-plus
    |  Add to Cart
  button.btn.btn-default.btn-info(type='button')
    span.fa.fa-shopping-cart
    |  Checkout
  button.btn.btn-default.btn-danger(type='button')
    span.fa.fa-close
    |  Cancel
