mixin carousel(args)
  - args = args || {};
  include ../components/carousel

mixin genericText(args)
  - args = args || {};
  include ../molecules/generic-text

mixin genericThumbnail(args)
  - args = args || {};
  include ../molecules/generic-thumbnail
