block variables
  - var title = "Home"
extends ../layouts/default
block content
  div.container
    include ../components/header
    h2 Home page
    div.well#name
    include ../components/product
    div.sprite-run
append content-script
  script.
    SystemJS.import('header.js');
    SystemJS.import('product.js');
