// product-info molecule start here
div.col-xs-12.col-sm-6
  img.img-responsive.product-image-large(src='http://contents.louisvuitton.com/is/image/lv/1/PP_VP_M/louis-vuitton-turenne-pm-monogram-canvas-handbags--M48813_PM2_Front%20view.jpg?wid=639&hei=639')
div.col-xs-12.col-sm-6
  h3#product-title
    | TURENNE PM
  div.well.row
    div.input-group
      div.input-group-addon Quantity:
      input#exampleInputAmount.form-control(type='text', placeholder='Amount')
      div.input-group-addon x 900 Points each
    div.input-group(style='margin-top:12px')
      div.input-group-addon Color:
      select.form-control
        option Brown and Gold
        option White and Silver
  h4 Description
  p
    | Fully lined interior with zipper accessory pocket, metal feet on bottom to protect bag, accented with polished nickel hardware. Zippers top opening. 20.5 inch width x 12.5 inch height x 5.5 inch depth. ALG188
// product-info molecule end here
