.banner {
  width: 100%;
  min-height: 200px;
  color: $white;
  text-align: center;
  padding-top: 50px;
  h1 {
    span {
      font-weight: bold;
    }
  }
  a {
    color: $white;
    text-decoration: underline;
  }
}
